@model Pagos_colegio_web.Models.Pago

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @{
                var añoActual = DateTime.Now.Year;
            }

            <div class="form-group">
                <label asp-for="Periodo" class="control-label"></label>
                <select asp-for="Periodo" class="form-control">
                    <option value="">Seleccione un mes</option>
                    @for (int i = 1; i <= 12; i++)
                    {
                        var mes = i.ToString("D2");
                        var periodo = $"{mes}/{añoActual}";
                        <option value="@periodo">@periodo</option>
                    }
                </select>
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="EstudianteId" class="control-label"></label>
                <select asp-for="EstudianteId" class ="form-control" asp-items="ViewBag.EstudianteId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
